ServiceAlmaMVC/Connected Services/KurServis/KurService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="KurService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52566/KurService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52566/KurService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52566/KurService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKurService_ParaBirimleriGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:ParaBirimleriGetir" />
  </wsdl:message>
  <wsdl:message name="IKurService_ParaBirimleriGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParaBirimleriGetirResponse" />
  </wsdl:message>
  <wsdl:message name="IKurService_KurlarGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:KurlarGetir" />
  </wsdl:message>
  <wsdl:message name="IKurService_KurlarGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:KurlarGetirResponse" />
  </wsdl:message>
  <wsdl:portType name="IKurService">
    <wsdl:operation name="ParaBirimleriGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IKurService/ParaBirimleriGetir" message="tns:IKurService_ParaBirimleriGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKurService/ParaBirimleriGetirResponse" message="tns:IKurService_ParaBirimleriGetir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KurlarGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IKurService/KurlarGetir" message="tns:IKurService_KurlarGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKurService/KurlarGetirResponse" message="tns:IKurService_KurlarGetir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKurService" type="tns:IKurService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ParaBirimleriGetir">
      <soap:operation soapAction="http://tempuri.org/IKurService/ParaBirimleriGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KurlarGetir">
      <soap:operation soapAction="http://tempuri.org/IKurService/KurlarGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KurService">
    <wsdl:port name="BasicHttpBinding_IKurService" binding="tns:BasicHttpBinding_IKurService">
      <soap:address location="http://localhost:52566/KurService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>